.contactInformation{
    margin-top: 30px;
}

.clearProj{
margin-top: 200px;
}

.font {
    font-family: 'Playfair Display', serif;
}

#font2 {
    font-family: 'Montserrat', sans-serif;
}

#font3{
    font-family: 'Nunito Sans', sans-serif;
}

.bodyCol {
    background-color: silver;
    margin: auto;
    white-space:wrap;
}

.header{
    background-color: slategray;
}
.nameP{
    margin-top: -3px;
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;    
}


/*.githubLink{
    float: right;
    position:absolute;
    margin-left: 900px;
}*/

#gitLogo{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

#linkedLogo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

#upworkLogo{
    width: 44px;
    height: 44px;
    margin-right: -10px;
}

.navbar{
    background-color: slategray;
}




.contactInfo{
    text-align: center;
}

.email{
    text-align: center;
}

.phoneNumb{
    text-align: center;
}

IMG.portImage{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    height: 280px;
    width: 200px;
    border-radius: 20px;
    margin-top: 20px;
}

.lyricityTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
}

IMG.lyricityImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.lyrLink{
    margin-top: 20px;
}

.gitLink:hover{
    color: lightcoral;
    text-decoration: none;
}

.repoLink:hover{
    color: lightcoral;
    text-decoration: none;
}


.lyrRepo{
    margin-top: 40px;
}

.langUsedLyr{
float: intial;
font-family: 'Nunito Sans', sans-serif ;
font-weight: bold;
font-size: 110%;
margin-top: 40px;
}

.lyricityPar {
text-align: right;
float:initial;
width: 24em;
display: inline;
font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
font-size: 110%;
}

IMG.codeQImg {
height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    /*margin-top: 200px;*/
}

.clear{
    margin-top: 400px;
}

.codeQTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
}

.codeQPar{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 110%;
    
}

.codeLink {
    margin-top: 20px;
}

.codeLink2:hover{
    color: lightcoral;
text-decoration: none;
}

.langUsedCode{
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif ;
    font-weight: bold;
    font-size: 110%;
}

.codeRepo{
    margin-top: 20px;
}

.repoLink2:hover{
    color: lightcoral;
    text-decoration: none;
}

.clearLatte{
    margin-top: 400px;
}
IMG.latteDImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
 .latteDTitle{
     text-align: center;
     margin-bottom: 15px;
     font-family: 'Pacifico', cursive;
     font-size: 200%;
 }

 .latteDPar{
     font-family: 'Nunito Sans', sans-serif;
     font-weight: bold;
     font-size: 110%;
     margin-top: 15px;
 }

.langUsedLatte{
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif ;
    font-weight: bold;
    font-size: 110%;
}

 .latteLink{
     margin-top: 10px;
 }

 .codeLink3:hover{
     color: lightcoral;
     text-decoration: none;
 }

 .latteRepo{
     margin-top: 10px;
 }

.repoLink3:hover{
    color: lightcoral;
    text-decoration: none;
}

.repoLink3{
    text-decoration:none;
}

.resPdf{
    font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
text-decoration: none;
}

.resPdf:link{
    text-decoration: none;
}

.resPdf:hover{
    color: lightcoral;
    text-decoration: none;
}

.resHead{
    font-family: 'Nunito Sans', sans-serif;
}

.marg{
    margin-bottom: 50px;
}

.navbar-nav{
    margin-left: 15px;
}

.nav-link{
    color: black;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

#scrollBarContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#scrollBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, violet, red);
  height: 0;
  opacity: 0;
}


::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px darkslategray;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background: slategray ;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background: gray;
}

html{
    overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.githubName{
    color: blacks;
}

.githubHref{
    color: black;
    
}

.githubHref:hover{
    color: lightcoral;
    text-decoration: none;

}

.aboutme{
    font-size: 200%;
    font-weight:bolder;
}

.clearNote{
    margin-top: 400px;
    margin-bottom: 300px;
}

IMG.noteTakerImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.noteTakerTitle{
    text-align: center;
     margin-bottom: 15px;
     font-family: 'Pacifico', cursive;
     font-size: 200%;
}

.noteTakerPar{
    font-family: 'Nunito Sans', sans-serif;
     font-weight: bold;
     font-size: 110%;
     margin-top: 15px;
}

.noteLink{
    margin-top: 10px;
}

.codeLink4:hover{
     color: lightcoral;
     text-decoration: none;
 }

 .repoLink4:hover {
     color: lightcoral;
     text-decoration: none;
 }

 .noteRepo {
     margin-top: 10px;
 }
 
 .langUsedNote{
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif ;
    font-weight: bold;
    font-size: 110%;
 }

.clearRept{
    margin-top: 400px;
    margin-bottom: 300px;
}

IMG.leesReptImg {
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.leesReptTitle{
    text-align: center;
     margin-bottom: 15px;
     font-family: 'Pacifico', cursive;
     font-size: 200%;
}

.leesReptPar{
    font-family: 'Nunito Sans', sans-serif;
     font-weight: bold;
     font-size: 110%;
     margin-top: 15px;
}

.reptLink{
    margin-top: 10px;
}

.codeLink5:hover{
     color: lightcoral;
     text-decoration: none;
 }

 .langUsedRept{
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif ;
    font-weight: bold;
    font-size: 110%;
 }

.repoLink5:hover{
    color: lightcoral;
    text-decoration: none;
}

.githubHref{
    color: lightcoral;
}