.contactInformation{
    margin-top: 30px;
}

.clearProj{
margin-top: 200px;
}

.font {
    font-family: 'Playfair Display', serif;
}

#font2 {
    font-family: 'Montserrat', sans-serif;
}

.bodyCol {
    background-color: silver;
    margin: auto;
    white-space:wrap;
}

.header{
    background-color: slategray;
}
.nameP{
    margin-top: -3px;
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;    
}


/*.githubLink{
    float: right;
    position:absolute;
    margin-left: 900px;
}*/

#gitLogo{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

#linkedLogo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

#upworkLogo{
    width: 44px;
    height: 44px;
    margin-right: -10px;
}

.navbar{
    background-color: slategray;
}




.contactInfo{
    text-align: center;
}

.email{
    text-align: center;
}

.phoneNumb{
    text-align: center;
}

IMG.portImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.lyricityTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
}

IMG.lyricityImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.lyrLink{
    margin-top: 40px;
}

.gitLink:hover{
    color: lightcoral;
    text-decoration: none;
}

.repoLink:hover{
    color: lightcoral;
    text-decoration: none;
}


.lyrRepo{
    margin-top: 40px;
}



.lyricityPar {
text-align: right;
float:initial;
width: 24em;
display: inline;
font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
font-size: 110%;
}

IMG.codeQImg {
height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    /*margin-top: 200px;*/
}

.clear{
    margin-top: 400px;
}

.codeQTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
}

.codeQPar{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 110%;
    
}

.codeLink {
    margin-top: 40px;
}

.codeLink2:hover{
    color: lightcoral;
text-decoration: none;
}

.codeRepo{
    margin-top: 40px;
}

.repoLink2:hover{
    color: lightcoral;
    text-decoration: none;
}

.clearLatte{
    margin-top: 400px;
}
IMG.latteDImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
 .latteDTitle{
     text-align: center;
     margin-bottom: 30px;
     font-family: 'Pacifico', cursive;
     font-size: 200%;
 }

 .latteDPar{
     font-family: 'Nunito Sans', sans-serif;
     font-weight: bold;
     font-size: 110%;
 }

 .latteLink{
     margin-top: 40px;
 }

 .codeLink3:hover{
     color: lightcoral;
     text-decoration: none;
 }

 .latteRepo{
     margin-top: 40px;
 }

.repoLink3:hover{
    color: lightcoral;
    text-decoration: none;
}

.repoLink3{
    text-decoration:none;
}

.resPdf{
    font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
text-decoration: none;
}

.resPdf:link{
    text-decoration: none;
}

.resPdf:hover{
    color: lightcoral;
    text-decoration: none;
}

.resHead{
    font-family: 'Nunito Sans', sans-serif;
}

.marg{
    margin-bottom: 50px;
}

.navbar-nav{
    margin-left: 15px;
}

.nav-link{
    color: black;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px darkslategray;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background: slategray ;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background: gray;
}