.clear{
    clear: both;
}

.font {
    font-family: 'Playfair Display', serif;
}

.font2 {
    font-family: 'Montserrat', sans-serif;
}

.bodyCol {
    background-color: silver;
    margin: auto;
    white-space:wrap;
}

.header{
    background-color: slategray;
}
.name{
    margin-top: -3px;
    font-size: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    
}

/*.githubLink{
    float: right;
    position:absolute;
    margin-left: 900px;
}*/

.github{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.linkedIn {
    width: 40px;
    height: 40px;
    margin-right: -10px;
}

.navbar{
    background-color: slategray;
}




.contactInfo{
    text-align: center;
}

.email{
    text-align: center;
}

.phoneNumb{
    text-align: center;
}

IMG.portImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lyricityTitle{
    text-align: center;
    margin-bottom: 30px;
}

IMG.lyricityImg{
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.lyrLink{
    margin-top: 40px;
}

.gitRepo{
    margin-top: 40px;
}

.lyricityPar {
text-align: right;
float:initial;
width: 24em;
display: inline;
font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
font-size: 110%;
}