.font {
    font-family: 'Playfair Display', serif;
}

.font2 {
    
}
.name{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: black;
}

.header{
    background-color: slategray;
    height: 80px;
}

.contactInfo{
    text-align: center;
}

.email{
    text-align: center;
}

.phoneNumb{
    text-align: center;
}

.portImage{
    align-items: center;
}